*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
  overflow:hidden;
  font-family:'Poppins',sans-serif;

  background:
  linear-gradient(
    135deg,
    #0f172a,
    #1e3a8a,
    #2563eb
  );
}

.glow{
  position:absolute;
  width:500px;
  height:500px;
  background:#3b82f6;
  border-radius:50%;
  filter:blur(120px);
  opacity:0.3;
}

.glow:nth-child(1){
  top:-150px;
  left:-150px;
}

.glow:nth-child(2){
  bottom:-150px;
  right:-150px;
}

.card{
  position:relative;
  z-index:2;

  width:100%;
  max-width:520px;

  padding:40px 30px;

  border-radius:30px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.2);

  backdrop-filter:blur(20px);

  text-align:center;

  color:white;

  box-shadow:
  0 10px 40px rgba(0,0,0,0.4);
}

.logo{
  width:120px;
  margin-bottom:20px;
}

h1{
  font-size:30px;
  font-weight:700;
}

.yayasan{
  margin-top:10px;
  font-size:14px;
  opacity:0.9;
}

.alamat{
  margin-top:10px;
  line-height:1.7;
  font-size:13px;
  opacity:0.8;
}

.countdown-title{
  margin-top:30px;
  font-size:22px;
  font-weight:600;
}

#countdown{
  margin-top:15px;
  font-size:32px;
  font-weight:700;
  color:#93c5fd;
  line-height:1.5;
}

.info{
  margin-top:20px;
  font-size:14px;
  line-height:1.8;
  opacity:0.9;
}

@media(max-width:600px){

  h1{
    font-size:24px;
  }

  #countdown{
    font-size:24px;
  }

}
#loginBox{
  margin-top:25px;
}

input{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  margin-top:15px;
  outline:none;
  font-size:15px;
}

.captcha-area{
  margin-top:20px;
}

#captchaText{
  font-size:22px;
  font-weight:700;
  color:#93c5fd;
  margin-bottom:10px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:12px;
  margin-top:15px;

  background:
  linear-gradient(
    to right,
    #2563eb,
    #3b82f6
  );

  color:white;

  font-size:16px;
  font-weight:600;

  cursor:pointer;

  transition:0.3s;
}

button:hover{
  transform:scale(1.02);
}
.angkatan{
  margin-top:15px;
  font-size:18px;
  font-weight:600;
  line-height:1.8;
  color:#93c5fd;
}

.madrasah{
  margin-top:15px;
  font-size:20px;
  font-weight:700;
}
.foto-siswa{

  width:140px;
  height:140px;

  object-fit:cover;

  border-radius:50%;

  border:4px solid white;

  margin-bottom:20px;
}

.hasil-box{

  margin-top:25px;

  text-align:left;

  background:
  rgba(255,255,255,0.08);

  padding:20px;

  border-radius:20px;

  line-height:2;
}

.pesan{

  margin-top:25px;

  line-height:1.8;

  font-style:italic;

  opacity:0.9;
}

.kepsek{

  margin-top:20px;

  font-weight:700;

  color:#93c5fd;
}
.status-lulus{

  display:inline-block;

  margin-top:10px;

  padding:10px 20px;

  border-radius:30px;

  background:
  linear-gradient(
    to right,
    #16a34a,
    #22c55e
  );

  color:white;

  font-weight:700;

  box-shadow:
  0 0 20px rgba(34,197,94,0.7);
}
#downloadArea{
  position:absolute;
  left:-9999px;
  top:0;
}

.download-card{

  width:1200px;

  background:white;

  color:black;

  padding:30px;

  font-family:Arial;
}

.top-download{

  display:flex;

  align-items:center;

  gap:20px;
}

.logo-download{
  width:110px;
}

.header-download h1{

  margin:0;

  font-size:54px;
}

.header-download h2{

  margin:0;

  font-size:32px;
}

.header-download p{

  margin-top:10px;

  font-size:24px;
}

.line-blue{

  height:30px;

  margin-top:20px;

  background:
  linear-gradient(
    to right,
    #0ea5e9,
    #1e3a8a
  );
}

.judul-download{

  text-align:center;

  margin:30px 0;

  font-size:42px;

  font-weight:700;

  line-height:1.5;
}

.content-download{

  display:flex;

  gap:50px;
}

.foto-download{

  width:250px;
  height:330px;

  object-fit:cover;
}

.bio-download{

  flex:1;

  font-size:28px;
}

.bio-download table{

  width:100%;

  border-collapse:collapse;

  margin-top:10px;

  font-size:32px;
}
.bio-download td{

  padding:8px 0;

  vertical-align:top;
}

.bio-download td:nth-child(1){

  width:220px;
}

.bio-download td:nth-child(2){

  width:30px;

  text-align:center;
}

.bio-download td:nth-child(3){

  font-weight:700;
}

.text-kelulusan{

  margin-top:40px;

  line-height:1.8;
}

.status-download{

  margin-top:30px;

  background:
  linear-gradient(
    to right,
    #00ff00,
    #00aa22
  );

  color:white;

  text-align:center;

  padding:15px;

  font-size:56px;

  font-weight:700;
}

.nilai-download{

  margin-top:30px;

  text-align:center;

  font-size:34px;
}

.nilai-box{

  margin-top:10px;

  padding:12px;

  background:
  linear-gradient(
    to right,
    #0ea5e9,
    #1e3a8a
  );

  color:white;

  font-size:52px;

  font-weight:700;
}
